@model CEPiK.Models.VehicleCard

@{
    ViewData["Title"] = "Delete";
}


<h2>Usuwanie karty pojazdu</h2>
<div>
    <h4>VehicleCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeriesAndNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeriesAndNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpirationData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpirationData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VehicleCardID" />
        <input type="submit" value="Usun" class="btn btn-default" /> |
        <a asp-action="Index">Powrot do listy</a>
    </form>
</div>
