@model IEnumerable<CEPiK.Models.VehicleControlStation>

@{
    ViewData["Title"] = "Index";
}

<h2>Spis stacji kontroli pojazdów</h2>

<p>
    <a asp-action="Create">Dodaj nową stacje</a>
</p>
<form asp-controller="VehicleControlStations" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
               </th>
            <th>
                Adres stacji
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrepreneur.NIP)
            </th>
            <th>
                Imie i nazwisko przedsiębiorcy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Address.PostalCode @item.Address.City ul. @item.Address.Street @item.Address.HouseNumber 
                <br />
                Woj. @item.Address.Voivodeship @item.Address.Commune
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrepreneur.NIP)
            </td>
            <td>
                @item.Entrepreneur.Name @item.Entrepreneur.Surname
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleControlStationID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleControlStationID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleControlStationID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
