@model CEPiK.Models.Car
@{
    ViewData["Title"] = "Delete";
}
<h2>Usuń pojazd</h2>
<h3>jesteś pewien, że chcesz usunąć ten pojazd?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarBrand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Variant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Variant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CarID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
